html,
body {
  position: relative;
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
}

input,
textarea,
button:focus {
  outline: none;
  border: none;
}

button:active {
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: none;
  background: none;
}

p {
  margin-top: 0;
}

a, a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}

::-moz-placeholder {
  color: #777;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::placeholder {
  color: #777;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

:focus::-ms-input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

@font-face {
  font-family: "Epilogue-Bold";
  src: url("../fonts/Epilogue-Bold.woff") format("woff"), url("../fonts/Epilogue-Bold.woff2") format("woff2"), url("../fonts/Epilogue-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Epilogue-SemiBold";
  src: url("../fonts/Epilogue-SemiBold.woff") format("woff"), url("../fonts/Epilogue-SemiBold.woff2") format("woff2"), url("../fonts/Epilogue-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?952pbv");
  src: url("../fonts/icomoon.eot?952pbv#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?952pbv") format("truetype"), url("../fonts/icomoon.woff?952pbv") format("woff"), url("../fonts/icomoon.svg?952pbv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-viber:before {
  content: "\e900";
}

.icon-telegram:before {
  content: "\e901";
}

.icon-social-skype-outline:before {
  content: "\e902";
}

.icon-navigate_next:before {
  content: "\e903";
}

.icon-navigate_before:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: url(../img/bg-lightl-890.jpg) repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  z-index: 9;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4rem;
}
.header__logo {
  -ms-flex-preferred-size: 63%;
  flex-basis: 63%;
  font-family: "Epilogue-Bold";
  font-size: 2rem;
  line-height: 2.5rem;
  color: #2F542B;
}
.header__search {
  width: 3rem;
  height: 3rem;
  margin-right: 8rem;
}
.header__search-icon {
  font-size: 2.3rem;
}
.header__menu-button {
  position: relative;
  padding: 0;
  width: 3rem;
  height: 3rem;
}
.header__menu-button::before {
  content: "";
  position: absolute;
  top: 0.7rem;
  right: 0;
  width: 2.5rem;
  height: 0.2rem;
  background-color: #000;
  -webkit-box-shadow: 1px 2px 4px #504d4d;
  box-shadow: 1px 2px 4px #504d4d;
}
.header__menu-button::after {
  content: "";
  position: absolute;
  top: 1.7rem;
  right: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: #000;
  -webkit-box-shadow: 1px 2px 4px #504d4d;
  box-shadow: 1px 2px 4px #504d4d;
}

.mobile-menu {
  display: none;
}

.button-burger {
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  background: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  width: 3rem;
  height: 2.4rem;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 4;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.button-burger:before, .button-burger:after {
  content: "";
  position: absolute;
  background: #000000;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button-burger:before {
  top: -9px;
}
.button-burger:after {
  bottom: -9px;
  width: 80%;
}
.button-burger--active {
  position: fixed;
  background: transparent;
  background-clip: content-box;
}
.button-burger--active:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  width: 110%;
  background-color: #fff;
}
.button-burger--active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 110%;
  background-color: #fff;
}

.menu {
  position: fixed;
  background: #2a3140;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.menu__wrapper {
  position: absolute;
  text-align: right;
  top: 5rem;
  right: 10vw;
}
.menu__items {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
}
.menu__item {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
}
.menu__link {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: #fff;
  text-decoration: none;
  font-family: "Epilogue-SemiBold", sans-serif;
  font-size: 3rem;
  padding: 1rem 4rem 1rem 4rem;
  margin: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu__link:hover, .menu__link:active, .menu__link:focus {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
  padding-left: 80px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.03);
}
.menu--open {
  opacity: 0.99;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 3;
}
.menu--open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
.menu--open li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.menu--open li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.menu--open li:nth-of-type(4) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.locked {
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.slider__item--active {
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
  padding-right: 4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.slider__item--active .slider__img {
  width: 60%;
  -webkit-transform: translateX(67%);
  transform: translateX(67%);
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
  margin-bottom: 0;
}
.slider__item--active .slider__info {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 2rem;
  width: 60%;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.slider__item--active .slider__avatar {
  display: none;
}
.slider__item--active .slider__description {
  margin-left: 7rem;
}
.slider__item--active .slider__title {
  margin-bottom: 2rem;
  font-family: "Epilogue-Bold", sans-serif;
  font-size: 7rem;
  color: #41413C;
  -webkit-animation: 1s text-stretch;
  animation: 1s text-stretch;
  text-shadow: 0 2px 2px #8a8989;
}
.slider__item--active .slider__subtitle {
  display: inline-block;
  margin-bottom: 5rem;
  width: 100%;
  white-space: normal;
  overflow: visible;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 2.4rem;
  color: #979292;
  -webkit-animation: 3s text-show;
  animation: 3s text-show;
  text-shadow: 1px 1px 1px #0f0f0f;
}
.slider__item--active .slider__note {
  display: block;
  margin-bottom: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.4rem;
  color: #686868;
  -webkit-animation: 3s text-show;
  animation: 3s text-show;
}
.slider__item--active .slider__text {
  display: block;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.8rem;
  white-space: pre-line;
  color: #212121;
  -webkit-animation: 3s text-show;
  animation: 3s text-show;
  text-shadow: 1px 1px 1px #a09d9d;
}
.slider__item--active .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.slider__wrapper {
  position: relative;
  width: 70%;
}
.slider__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.slider__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.slider__item-name {
  display: none;
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  font-size: 1.8rem;
  color: aliceblue;
  text-shadow: 0 2px 2px #5a5959;
}
.slider__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.slider__img {
  display: inline-block;
  width: 40%;
  margin-bottom: 5rem;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.slider__info {
  position: absolute;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider__avatar {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.slider__avatar img {
  display: block;
  width: 100%;
  margin: 0 !important;
  border-radius: 50%;
}
.slider__title {
  font-size: 1.8rem;
  font-family: "Roboto-Regular", sans-serif;
}
.slider__subtitle {
  font-size: 1.2rem;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto-Regular", sans-serif;
  color: #686868;
}
.slider__note {
  display: none;
}
.slider__text {
  display: none;
}
.slider__button {
  position: absolute;
  top: 50%;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2.5rem;
  color: #090909;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 10px #6c6b6b;
  box-shadow: 1px 2px 10px #6c6b6b;
  cursor: pointer;
  z-index: 2;
}
.slider__button:active {
  -webkit-box-shadow: 0 0 8px #07a9e4;
  box-shadow: 0 0 8px #07a9e4;
}
.slider__button_prev {
  top: calc(50% + 5rem);
}
.slider__button_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes text-stretch {
  from {
    font-size: 1rem;
  }
  to {
    font-size: calc(14px + 56 * (100vw - 320px) / 1120);
  }
}

@keyframes text-stretch {
  from {
    font-size: 1rem;
  }
  to {
    font-size: calc(14px + 56 * (100vw - 320px) / 1120);
  }
}
@-webkit-keyframes text-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes text-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.articles {
  padding: 4rem;
}
.articles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.articles__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.articles__title {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  font-family: "Epilogue-SemiBold", sans-serif;
  font-size: 5rem;
  letter-spacing: -0.025em;
  color: #41413C;
  text-transform: uppercase;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 23%;
  margin: 0 1rem 1rem 0;
  -webkit-box-shadow: 0 2px 10px #7E7E7E;
  box-shadow: 0 2px 10px #7E7E7E;
}
.card__photo {
  position: relative;
}
.card__img {
  display: block;
  width: 100%;
}
.card__info {
  padding: 2rem;
  text-align: center;
}
.card__note {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Roboto-Regular", sans-serif;
  color: #7E7E7E;
  text-transform: uppercase;
}
.card__title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}
.card__button {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
}
.card__text {
  font-size: 1rem;
  font-family: "Roboto-Regular", sans-serif;
  color: #7E7E7E;
}
.card--post {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card--post .card__note {
  display: none;
}
.card--post .card__text {
  display: none;
}
.card--post .card__title {
  margin: 2rem 0 3rem 0;
  font-size: 1.8rem;
  font-family: "Roboto-Regular", sans-serif;
  text-transform: none;
}
.card--post .card__button {
  font-size: 1.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  letter-spacing: 0.75px;
  padding: 1.5rem 5rem;
  color: aliceblue;
  background-color: #DDC8BA;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.posts {
  padding: 4rem;
}
.posts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.posts__title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  line-height: 63px;
  letter-spacing: -0.045em;
  color: #41413C;
}

.profile {
  padding: 4rem;
}
.profile__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 1px 8px #2c2b2b;
  box-shadow: 1px 1px 8px #2c2b2b;
}
.profile__sidebar {
  padding: 0 2rem 2rem 2rem;
  background: rgba(148, 147, 147, 0.1);
}
.profile__photo {
  position: relative;
  margin-bottom: 2rem;
}
.profile__photo::before {
  position: absolute;
  top: 2rem;
  left: -2rem;
  content: "";
  width: 2rem;
  height: 7.6rem;
  background: rgba(215, 123, 61, 0.3);
}
.profile__before {
  position: absolute;
  top: 50%;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2.5rem;
  color: #090909;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 10px #6c6b6b;
  box-shadow: 1px 2px 10px #6c6b6b;
  cursor: pointer;
}
.profile__next {
  position: absolute;
  top: 50%;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2.5rem;
  color: #090909;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 10px #6c6b6b;
  box-shadow: 1px 2px 10px #6c6b6b;
  cursor: pointer;
}
.profile__img {
  display: none;
  width: 100%;
}
.profile__contacts {
  padding: 0 2rem;
}
.profile__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
  color: #282727;
  border-top: 2px solid #a5a2a2;
}
.profile__link:last-child {
  border-bottom: 2px solid #a5a2a2;
}
.profile__link-skype:hover {
  color: #00aff0;
}
.profile__link-viber:hover {
  color: #7360f2;
}
.profile__link-whatsapp:hover {
  color: #25D366;
}
.profile__link-telegram:hover {
  color: #2AABEE;
}
.profile__icon {
  font-size: 2rem;
  margin-right: 1.4rem;
  background-color: #DDC8BA;
  padding: 0.8rem;
  -webkit-box-shadow: 1px 1px 4px #2c2b2b;
  box-shadow: 1px 1px 4px #2c2b2b;
}
.profile .icon-social-skype-outline {
  font-size: 2.4rem;
  padding: 0.6rem;
}
.profile__param-title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  border-bottom: 2px solid #a5a2a2;
}
.profile__param-text {
  font-size: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
  white-space: pre-line;
}
.profile__description {
  max-width: 60%;
  min-width: 50%;
  padding-top: 2rem;
}
.profile__name {
  position: relative;
  padding: 2rem;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-family: "Epilogue-Bold", sans-serif;
  background: rgba(215, 123, 61, 0.3);
}
.profile__name::before {
  position: absolute;
  top: 0;
  left: -2rem;
  content: "";
  width: 2rem;
  height: 7.6rem;
  background: rgba(215, 123, 61, 0.3);
}
.profile__info-block {
  padding: 0 2rem;
}
.profile__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #a5a2a2;
  border-top: 2px solid #a5a2a2;
  line-height: 4rem;
}
.profile__title span {
  font-size: 2.5rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.profile__title--active {
  color: #00aff0;
}
.profile__title--active span {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.profile__main-text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
}
.profile__text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
  white-space: pre-line;
}

.social {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.social::before {
  position: absolute;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 1px;
  height: 10rem;
  background-color: #000000;
}
.social::after {
  position: absolute;
  bottom: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 1px;
  height: 10rem;
  background-color: #000000;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  border: 2px solid #000000;
  border-radius: 50%;
}
.social__link:last-child {
  margin-bottom: 0;
}
.social__link-skype {
  -webkit-animation: 2s linear 1s skype_glow;
  animation: 2s linear 1s skype_glow;
}
.social__link-skype span {
  -webkit-animation: 2s linear 1s skype-icon_glow;
  animation: 2s linear 1s skype-icon_glow;
}
.social__link-viber {
  -webkit-animation: 2s linear 3s viber_glow;
  animation: 2s linear 3s viber_glow;
}
.social__link-viber span {
  -webkit-animation: 2s linear 3s viber-icon_glow;
  animation: 2s linear 3s viber-icon_glow;
}
.social__link-whatsapp {
  -webkit-animation: 2s linear 5s whatsapp_glow;
  animation: 2s linear 5s whatsapp_glow;
}
.social__link-whatsapp span {
  -webkit-animation: 2s linear 5s whatsapp-icon_glow;
  animation: 2s linear 5s whatsapp-icon_glow;
}
.social__link-telegram {
  -webkit-animation: 2s linear 7s telegram_glow;
  animation: 2s linear 7s telegram_glow;
}
.social__link-telegram span {
  -webkit-animation: 2s linear 7s telegram-icon_glow;
  animation: 2s linear 7s telegram-icon_glow;
}
.social__icon {
  font-size: 1.6rem;
  color: #000000;
}
.social .icon-social-skype-outline {
  font-size: 1.8rem;
}
.social .icon-telegram {
  font-size: 1.3rem;
  margin-right: 2px;
}
.social .icon-viber {
  margin-top: 2px;
}

.social--to-card {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1rem;
  display: block;
}
.social--to-card .social__link {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  -webkit-box-shadow: 1px 2px 4px #373737;
  box-shadow: 1px 2px 4px #373737;
  -webkit-animation: none;
  animation: none;
}
.social--to-card::before, .social--to-card::after {
  display: none;
}
.social--to-card .social__icon {
  font-size: 1.5rem;
  -webkit-animation: none;
  animation: none;
}

.social--none {
  display: none;
}

@-webkit-keyframes skype_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #00aff0;
    -webkit-box-shadow: 0 0 25px #00aff0;
    box-shadow: 0 0 25px #00aff0;
  }
  100% {
    border-color: #000000;
  }
}

@keyframes skype_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #00aff0;
    -webkit-box-shadow: 0 0 25px #00aff0;
    box-shadow: 0 0 25px #00aff0;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes skype-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #00aff0;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
@keyframes skype-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #00aff0;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
@-webkit-keyframes viber_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #7360f2;
    -webkit-box-shadow: 0 0 25px #7360f2;
    box-shadow: 0 0 25px #7360f2;
  }
  100% {
    border-color: #000000;
  }
}
@keyframes viber_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #7360f2;
    -webkit-box-shadow: 0 0 25px #7360f2;
    box-shadow: 0 0 25px #7360f2;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes viber-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #7360f2;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
@keyframes viber-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #7360f2;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
@-webkit-keyframes whatsapp_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #25D366;
    -webkit-box-shadow: 0 0 25px #25D366;
    box-shadow: 0 0 25px #25D366;
  }
  100% {
    border-color: #000000;
  }
}
@keyframes whatsapp_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #25D366;
    -webkit-box-shadow: 0 0 25px #25D366;
    box-shadow: 0 0 25px #25D366;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes whatsapp-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #25D366;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
@keyframes whatsapp-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #25D366;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
@-webkit-keyframes telegram_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #2AABEE;
    -webkit-box-shadow: 0 0 25px #2AABEE;
    box-shadow: 0 0 25px #2AABEE;
  }
  100% {
    border-color: #000000;
  }
}
@keyframes telegram_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #2AABEE;
    -webkit-box-shadow: 0 0 25px #2AABEE;
    box-shadow: 0 0 25px #2AABEE;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes telegram-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #2AABEE;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
@keyframes telegram-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #2AABEE;
    font-size: 2.5rem;
  }
  100% {
    color: #000000;
  }
}
.button {
  --width: 17rem;
  --height: 6rem;
  --color: #d6a98b;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  line-height: var(--height);
  font-size: 1.5rem;
  font-family: "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  text-align: center;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: transparent;
  border-color: transparent;
}
.button:hover {
  cursor: pointer;
}
.button__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
}
.button__rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--color);
  stroke-width: 5;
  stroke-dasharray: var(--height) var(--width);
  stroke-dashoffset: calc(2 * var(--height) + 2 * var(--width) + var(--height) / 2);
  -webkit-animation: 3s linear 0s infinite move_rect;
  animation: 3s linear 0s infinite move_rect;
}

@-webkit-keyframes move_rect {
  0% {
    stroke: var(--color);
    stroke-dashoffset: calc(2 * var(--height) + 2 * var(--width) + var(--height) / 2);
  }
  100% {
    stroke: var(--color);
    stroke-dashoffset: calc(var(--height) - var(--height) / 2);
  }
}

@keyframes move_rect {
  0% {
    stroke: var(--color);
    stroke-dashoffset: calc(2 * var(--height) + 2 * var(--width) + var(--height) / 2);
  }
  100% {
    stroke: var(--color);
    stroke-dashoffset: calc(var(--height) - var(--height) / 2);
  }
}
@media (max-width: 1440px) {
  .header__content {
    padding: calc(10px + 30 * (100vw - 320px) / 1120);
  }

  .header__logo {
    font-size: calc(16px + 4 * (100vw - 320px) / 1120);
  }

  .slider__item--active {
    padding-right: calc(10px + 30 * (100vw - 320px) / 1120);
  }
  .slider__item--active .slider__description {
    margin-left: calc(10px + 60 * (100vw - 320px) / 1120);
  }
  .slider__item--active .slider__title {
    font-size: calc(14px + 56 * (100vw - 320px) / 1120);
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 1120);
  }
  .slider__item--active .slider__subtitle {
    margin-bottom: calc(10px + 40 * (100vw - 320px) / 1120);
    font-size: calc(14px + 10 * (100vw - 320px) / 1120);
  }
  .slider__item--active .slider__text {
    font-size: calc(14px + 4 * (100vw - 320px) / 1120);
  }

  .slider__title {
    font-size: calc(14px + 4 * (100vw - 320px) / 1120);
  }

  .slider__img {
    margin-bottom: calc(10px + 40 * (100vw - 320px) / 1120);
  }

  .slider__avatar {
    width: calc(20px + 30 * (100vw - 320px) / 1120);
    height: calc(20px + 30 * (100vw - 320px) / 1120);
  }

  .articles {
    padding: calc(10px + 30 * (100vw - 320px) / 1120);
  }

  .articles__title {
    font-size: calc(14px + 36 * (100vw - 320px) / 1120);
  }

  .posts {
    padding: calc(10px + 30 * (100vw - 320px) / 1120);
  }

  .posts__title {
    font-size: calc(14px + 21 * (100vw - 320px) / 1120);
    margin-bottom: calc(10px + 20 * (100vw - 320px) / 1120);
  }

  .button {
    --width: calc(110px + (170 - 110) * ((100vw - 320px) / (1440 - 320)));
    --height: calc(25px + (60 - 25) * ((100vw - 320px) / (1440 - 320)));
    font-size: calc(12px + 3 * (100vw - 320px) / 1120);
  }

  .card--post .card__button {
    font-size: calc(10px + 5 * (100vw - 320px) / 1120);
    padding: calc(10px + 5 * (100vw - 320px) / 1120) calc(20px + 30 * (100vw - 320px) / 1120);
  }

  .card--post .card__title {
    margin: calc(10px + 10 * (100vw - 320px) / 1120) 0 calc(10px + 20 * (100vw - 320px) / 1120) 0;
    font-size: calc(10px + 8 * (100vw - 320px) / 1120);
  }

  .profile__photo::before {
    height: calc(60px + 16 * (100vw - 320px) / 1120);
  }

  .profile__name {
    font-size: calc(18px + 18 * (100vw - 320px) / 1120);
  }
  .profile__name::before {
    height: calc(60px + 16 * (100vw - 320px) / 1120);
  }
}
@media screen and (max-width: 1220px) {
  .slider__button {
    right: 1rem;
  }

  .card {
    max-width: 32%;
  }

  .social::before {
    height: 6rem;
    top: -30%;
  }

  .social::after {
    height: 6rem;
    bottom: -30%;
  }
}
@media screen and (max-width: 1025px) {
  .slider__item--active .slider__info {
    width: 80%;
  }

  .slider__img {
    margin-bottom: 0;
  }

  .social::before {
    height: 4rem;
    top: -20%;
  }

  .social::after {
    height: 4rem;
    bottom: -20%;
  }
}
@media screen and (max-width: 846px) {
  .slider__button {
    right: 0.5rem;
  }

  .card {
    max-width: 50%;
  }
}
@media screen and (max-width: 769px) {
  .slider__wrapper {
    width: 100%;
  }

  .header {
    position: static;
  }

  .profile__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .profile__sidebar {
    width: 100%;
  }

  .profile__description {
    max-width: 100%;
  }

  .profile__photo::before {
    display: none;
  }

  .profile__name {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: aliceblue;
  }
}
@media screen and (max-width: 657px) {
  .slider__item--active .slider__info {
    width: 60%;
  }

  .card {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }
}
@media screen and (max-width: 481px) {
  .slider__item--active {
    width: 100%;
  }
  .slider__item--active .slider__item-name {
    display: block;
  }
  .slider__item--active .slider__img {
    width: 100%;
    -webkit-transform: none;
    transform: none;
  }
  .slider__item--active .slider__description {
    display: none;
  }

  .card__info {
    padding: 1rem;
  }

  .card__title {
    margin: 0;
  }

  .card__note {
    display: none;
  }

  .card__text {
    display: none;
  }

  .card__line {
    display: none;
  }

  .social__link {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    -webkit-box-shadow: 1px 2px 4px #373737;
    box-shadow: 1px 2px 4px #373737;
  }

  .social::before, .social::after {
    display: none;
  }

  .social--to-card .social__link {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 375px) {
  .card {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  .card__title {
    font-size: 10px;
  }

  .social--to-card .social__link {
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.5rem;
  }
}